<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>justriffs</title>
  <link rel="shortcut icon" href="./assets/favicon.ico"/>
</head>
<body>
  <style>
    body {
      background-color: #1d2b3d;
    }
    .centered {
      position: fixed;
      top: 50%;
      left: 50%;
    }   
  </style>
  <img class="centered" src="./assets/logo.png" height="480" width="480" style="margin-top: -240px; margin-left: -240px;">
</body>